*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: grey;
}
.box{
    position: relative;
    bottom: 2rem;
}
.clip{
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
}
.container{
    width: 80%;
    margin: auto;
}
.d-flex{
    display: flex;
}
.justify-centent-center{
    justify-content: center;
}
.align-item{
    align-items: center;
}
.d-block{
    display: block;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.bg-white{
    background: white;
}
.bg-grey{
    background: grey;
}
.bg-black{
    background: black;
}
.p-1{
    padding: 2rem;
}
.p-2{
    padding: 10px;
}
.pt-1{
    padding-top: 10rem;
}
.pr{
    padding-right: 10rem;
}
.plr{
    padding: 10px 35px 10px;
}
.pt{
    height: 29.95rem;
}
.h{
    height: 50vh;
}
.h-2{
    height: 100vh;
}
.font-size{
    font-size: 4rem;
}
.font-size-1{
    font-size: 2rem;
}
.font-size-0{
    font-size: 1rem;
}
.font-weight{
    font-weight: bold;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.list-style{
    list-style-type: none;
    text-decoration: none;
}
.rounded{
    border-radius: 0.5rem;
    outline: none;
    border:none;
}
.bt{
    border-bottom: solid 5px white;
}
.active{
    background: rgb(255, 255, 255);
}
.m-auto{
    margin: auto;
}
.m{
    margin: 10px;
}
.m-0{
    margin: 0;
}
.mt{
    margin-top: 25px;
}
.mt-2{
    margin-top: 5rem;
}
.mt-3{
    margin-top: 15rem;
}
.mt-1{
    margin:50% 50% 50% 30%;
    width: 50%;
}
.w-1{
    width: 50%;
}
.w-2{
    width: 100%;
}
.w-3{
    width: 96.5%;
}
.text-center{
    text-align: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.word-break{
    word-break: break-all;
}
.box-shadow-1{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.box-shadow-2{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.img{
    width: 90%;
}
nav{
    padding: 27.6px;
}
.d-none{
    display: none;
}
.home{
    background: url(../img/1.jpg) ;
    background-size: cover;
    background-attachment: fixed;
}
nav .nav{
    display: flex;
    position: relative;
    bottom: 3rem;
    margin-top:1.5rem;
}
nav .nav .logo{
    padding:none;
}
nav .nav ul{ 
    list-style: none; 
    margin: auto;
}
nav  .nav ul li{
    margin-left: 5rem;
    padding: 10px;
}
nav  .nav ul li:hover{
    background:grey;
    padding: 10px;
    transition: 0.5s;
}
nav  .nav ul li a{
    text-decoration: none;
    color: black;
}
nav label,input{
    color: white;
    font-size: 2rem;
    margin-right: 2rem;
    display: none;
}
/* ---------------------header----------------- */
#header{
    display: flex;
}
#header .header-left img{
    border-radius: 1rem 0rem 0em 1rem;
}
.header-right{
    background: rgba(0, 0, 255, 0.363);
    text-align: center;
    padding: 10px;
    width: 50%;
    border-radius: 0px 1rem 1rem 0rem;
}
#header button{
    padding: 1rem 5rem;
    margin-top: 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.about{
    background: url(../img/5.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.contact{
    background: url(../img/9.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.cv{
    background: url(../img/16.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
/* --------module------------ */
#module img{
    width: 12%;
}
/* --------about--------------- */
.img-about-left{
    background: url(../img/6.jpg);
    background-size: cover;
}
.img-profile{
    background: url(../img/7.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.img-hobbies{
    background: url(../img/8.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/* --------contact------- */
#form .form-1 label,input{
    display: block;
    position: none;
    box-sizing: border-box;
}
::placeholder{
    font-size: 1rem;
    color: white;
    padding: 10px;
}
@media(max-width:850px){
    nav{
        display: block;
    }
    nav .nav ul,input{
        display: none;
    }
    nav .nav ul li{
        margin-left: 1px;
    }
    nav .nav ul li a{
        color:white;
    }
    nav .nav ul li:hover{
        background: rgb(118, 118, 119);
    }
    nav .nav ul {
        flex-wrap: wrap;
    }
    #check:checked~ .nav ul{
        display: block;
        position: absolute;
        margin-top: 4rem;
        padding: 10px;
        background: rgb(0, 0, 0);
        width: 90%;
        border-radius: 5px;
        box-shadow: 2px 3px 2px 6px;
    }
    .active{
        width: 94%;
        background: blue;
        border-radius: 5px;
        margin: 7px;
    }
    #header{
        flex-wrap:wrap ;
    }
    #header .header-left img{
        width: 100%;
        height: 100%;
    }
    #header .header-right{
        width: 100%;
        padding-bottom: 60px;
    }
    #header .header-right button{
        margin-top: 1rem;
    }
    nav  label{
        display: block;
        position: absolute;
        right: 0px;
        top: 1rem;
    }
    #module img{
        width: 50%;
    }
    #module h4{
        display: flex;
        justify-content: center;
    }
    .group-card{
        flex-wrap: wrap;
    }
    .element-center{
        display: flex;
        justify-content: center;
    }
    .w-1{
        width: 100%;
    }
    .box{
        position: relative;
        top: 0.1rem;
    }
    #form .form-1 label,input{
        display: block;
        position: none;
    }
    .w-3{
        width: 95%;
    }
    .mt-4{
        margin-top: 10px;
    }
    .h-5{
        height: 40%;
    }
}

@media(max-width:480px){
    nav{
        display: block;
    }
    nav .nav ul,input{
        display: none;
    }
    nav .nav ul li{
        margin-left: 1px;
    }
    nav .nav ul li a{
        color:white;
    }
    nav .nav ul li:hover{
        background: rgb(118, 118, 119);
    }
    nav .nav ul {
        flex-wrap: wrap;
    }
    #check:checked~ .nav ul{
        display: block;
        position: absolute;
        margin-top: 3rem;
        padding: 10px;
        background: rgb(0, 0, 0);
        width: 90%;
        border-radius: 5px;
        box-shadow: 2px 3px 2px 6px;
    }
    .active{
        width: 94%;
        background: blue;
        border-radius: 5px;
        margin: 7px;
    }
    #header{
        flex-wrap:wrap ;
    }
    #header .header-left img{
        width: 100%;
        height: 100%;
    }
    #header .header-right{
        width: 100%;
        padding-bottom: 60px;
    }
    #header .header-right button{
        margin-top: 1rem;
    }
    nav label{
        display: block;
        position: absolute;
        right: 0px;
        top: 1rem;
    }
    #module img{
        width: 50%;
    }
    .group-card{
        flex-wrap: wrap;
    }
    .element-center{
        display: flex;
        justify-content: center;
    }
    .w-1{
        width: 100%;
    }
    .box{
        position: relative;
        top: 0.1rem;
    }
    #form .form-1 label,input{
        display: block;
        position: none;
    }
    .w-3{
        width:89%;
    }
    .mt-4{
        margin-top: 10px;
    }
    .h-5{
        height: 40%;
    }
}
